{% comment %}
<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-media pf-icons">

    <!-- <ul class="posts">
        {% for item in site.data.items %}
          {% if include.title %}
            <h2><a class="post-heading" href="{{ post.url }}">{{ post.title }}</a></h2>
            <p> {{ post.description }} </p>
            <p class="date">{{ post.date | date_to_string }}</p>
            <hr class="hr-color"></hr>
          {% endif %}
        {% endfor %}
      </ul > -->

    <!-- Grid Inner: Start -->
    <div class="grid-inner">
        <!-- Image: Start -->
        <div class="portfolio-image">
            <a href="{{ include.url }}">
                <img src="{{ include.image }}" alt="{{ include.title }}">
            </a>
            <!-- Overlay: Start -->
            <div class="bg-overlay">
                <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
                    <a href="/images/portfolio/full/1.jpg" class="overlay-trigger-icon bg-light text-dark"
                        data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall"
                        data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="image"
                        title="Image"><i class="icon-line-plus"></i></a>
                    <a href="{{ include.url }}" class="overlay-trigger-icon bg-light text-dark"
                        data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall"
                        data-hover-speed="350" data-hover-parent=".portfolio-item"><i
                            class="icon-line-ellipsis"></i></a>
                </div>
                <div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
            </div>
            <!-- Overlay: End -->
        </div>
        <!-- Image: End -->
        <!-- Decription: Start -->
        <div class="portfolio-desc">
            <h3><a href="{{ include.url }}">{{ include.title }}</a></h3>
            <span>{{ include.price }}</span>
        </div>
        <!-- Description: Start -->
    </div>
    <!-- Grid Inner: End -->
</article>

{% endcomment %}
<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-icons pf-illustrations">
    <div class="grid-inner">
        <div class="portfolio-image">
            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                <div class="flexslider">
                    <div class="slider-wrap">
                        {% comment %}
                        {% for image in include.sliders limit: 3%}
                        <div class="slide"><a href="{{ include.url }}"><img src="{{ image.thumb }}" alt="{{ include.title }}"></a></div>
                        {% endfor %}
                        {% endcomment %}
                        
                        <div class="slide"><a href="{{ include.url }}"><img src="/products/{{ include.folder }}/sliders/1.png" alt="{{ include.title }}"></a></div>
                        <div class="slide"><a href="{{ include.url }}"><img src="/products/{{ include.folder }}/sliders/2.png" alt="{{ include.title }}"></a></div>
                        <div class="slide"><a href="{{ include.url }}"><img src="/products/{{ include.folder }}/sliders/3.png" alt="{{ include.title }}"></a></div>

                        
                    </div>
                </div>
            </div>
            <div class="bg-overlay" data-lightbox="gallery">
                <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
                    <a href="images/portfolio/full/4.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                    <a href="images/portfolio/full/4-1.jpg" class="d-none" data-lightbox="gallery-item"></a>
                    <a href="{{ include.url }}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="icon-line-ellipsis"></i></a>
                </div>
                <div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="{{ include.url }}">{{ include.title }}</a></h3>
            <span>{{ include.price }}</span>
        </div>
    </div>
</article>