<!-- Header
		============================================= -->
<header id="header">
	<div id="header-wrap">
		<div class="container">
			<div class="header-row justify-content-between">

				<!-- Logo
						============================================= -->
				<div id="logo">
					<a href="/" class="standard-logo" data-dark-logo="/images/dmc.png"
						data-mobile-logo="/images/dmc.png"><img src="/images/dmc.png" alt="DMC Busa Logo"></a>
					<a href="/" class="retina-logo" data-dark-logo="/images/dmc.png"
						data-mobile-logo="/images/dmc.png"><img src="/images/dmc.png" alt="DMC Busa Logo"></a>
				</div><!-- #logo end -->

				<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

				<div class="header-misc">
					<div class="d-flex my-lg-3">
						<a href="https://www.facebook.com/DMCBusaPrinter"
							class="social-icon si-small si-borderless si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>

						<a href="#" class="social-icon si-small si-borderless si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>

						<a href="#" class="social-icon si-small si-borderless si-gplus">
							<i class="icon-gplus"></i>
							<i class="icon-gplus"></i>
						</a>

						<a href="#" class="social-icon si-small si-borderless si-pinterest">
							<i class="icon-pinterest"></i>
							<i class="icon-pinterest"></i>
						</a>

						<a href="#" class="social-icon si-small si-borderless si-github">
							<i class="icon-github"></i>
							<i class="icon-github"></i>
						</a>
					</div>
				</div>

				<!-- Primary Navigation
						============================================= -->
				<nav class="primary-menu on-click">

					<ul class="menu-container">
						<li class="menu-item"><a class="menu-link" href="https://www.dmcbusaprinters.com/shop/">
								<div>Home</div>
							</a></li>
						<li class="menu-item"><a class="menu-link" href="index.html">
								<div>Shop</div>
							</a></li>
						<li class="menu-item"><a class="menu-link" href="https://www.dmcbusaprinters.com/about/">
								<div>About</div>
							</a></li>
						<li class="menu-item"><a class="menu-link" href="https://www.dmcbusaprinters.com/contact/">
								<div>Contact</div>
							</a></li>


						<li class="menu-item"><a class="menu-link" href="#">
								<div>Services</div>
							</a>
							<ul class="sub-menu-container">
								<li class="menu-item"><a class="menu-link"
										href="https://www.dmcbusaprinters.com/acrylic-awards/">
										<div><i class=""></i>Acrylic Awards</div>
									</a></li>
								<li class="menu-item"><a class="menu-link"
										href="https://www.dmcbusaprinters.com/brochures-leaflets/">
										<div><i class=""></i>Brochures & Leaflets</div>
									</a></li>
								<li class="menu-item"><a class="menu-link"
										href="https://www.dmcbusaprinters.com/cadd-printing/">
										<div><i class=""></i>CADD Printing</div>
									</a></li>
								<li class="menu-item"><a class="menu-link"
										href="https://www.dmcbusaprinters.com/commercial-calendars/">
										<div><i class=""></i>Commercial Calendars</div>
									</a></li>
								<li class="menu-item"><a class="menu-link"
										href="https://www.dmcbusaprinters.com/desk-calendar/">
										<div><i class=""></i>Desk Calendar</div>
									</a></li>
								<li class="menu-item"><a class="menu-link"
										href="https://www.dmcbusaprinters.com/passbooks/">
										<div><i class=""></i>Passbooks</div>
									</a></li>
								<li class="menu-item"><a class="menu-link"
										href="https://www.dmcbusaprinters.com/pizza-boxes/">
										<div><i class=""></i>Pizza Boxes</div>
									</a></li>
								<li class="menu-item"><a class="menu-link"
										href="https://www.dmcbusaprinters.com/rigid-boxes/">
										<div><i class=""></i>Rigid Boxes</div>
									</a></li>
								<li class="menu-item"><a class="menu-link"
										href="https://www.dmcbusaprinters.com/souvenir-programs/">
										<div><i class=""></i>Souvenir Programs</div>
									</a></li>
								<li class="menu-item"><a class="menu-link"
										href="https://www.dmcbusaprinters.com/wood-etching/">
										<div><i class=""></i>Wood Etching</div>
									</a></li>
							</ul>
						</li>
					</ul>

				</nav><!-- #primary-menu end -->

			</div>
		</div>
	</div>
	<div class="header-wrap-clone"></div>
</header><!-- #header end -->