<!-- Portfolio Items
				============================================= -->
<div id="portfolio" class="portfolio row grid-container portfolio-reveal no-gutters" data-layout="fitRows">

    <!-- Portfolio Item: Start -->

    {% for p in site.pages %}
    {% if p.layout contains 'item' %}
        {% include article.html 
            title=p.title
            price=p.price
            url=p.url
            sliders=p.sliders
            folder=p.folder
        %}
    {% else %}
        
    {% endif %}
{% endfor %}

</div><!-- #portfolio end -->